
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-content {
    flex: 1 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    flex-shrink: 0;
}
