{% extends "base.html" %}
{% block title %}Lista de Profissões/Cargos{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="display-6 m-0">
            Profissões/Cargos
        </h2>
        <a href="{{ url_for('main.profissao_create') }}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
            Adicionar Profissão
        </a>
    </div>

    <table class="table table-bordered table-striped shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for profissao in profissoes %}
                <tr>
                    <td>{{ profissao.nome }}</td>
                    <td>
                        <a href="{{ url_for('main.profissao_edit', id=profissao.id) }}" class="btn btn-outline-warning btn-sm me-2">
                            ✏️ Editar
                        </a>
                        <a href="{{ url_for('main.profissao_delete', id=profissao.id) }}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Tem certeza?')">
                            🗑️ Excluir
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center text-muted">Nenhuma profissão cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}