{% extends 'base.html' %}
{% block content %}
<h2>{{ vacina.id if vacina else 'Nova Vacina' }}</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.pessoa_id.label(class="form-label") }}
        {{ form.pessoa_id(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.nome.label(class="form-label") }}
        {{ form.nome(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.dose.label(class="form-label") }}
        {{ form.dose(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.data.label(class="form-label") }}
        {{ form.data(class="form-control", type="date") }}
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ url_for('main.vacina_list') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}